html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}

@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}

.chair {
    height: 100%;
    width: 85%;
    margin: auto;
    background: url(chair.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}
