html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}


@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}

.chair {
    height: 100%;
    width: 85%;
    margin: auto;
    background: url(chair.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.textModus {
    position: fixed;
    top: 13%;
    right: 1%;
    font-size: 15px;
}

.modus {
    height: 40%;
    width: 15%;
    position: fixed;
    top: 22%;
    right: 0;
    opacity: 0.3;
}

.btnOne {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    text-align: center;
    padding: 18px;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}

.btnTwo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    padding: 18px;
    text-align: center;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}

.btnThree {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    text-align: center;
    padding: 18px;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}

.btnFour {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    padding: 18px;
    text-align: center;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}
