html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}


@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}

.swipe {
    height: 90%;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    height: 100%;
    width: 100%;
    overflow: hideen;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    height: 100%;
    width:100%;
    position: relative;
}

/* Scene1-3 */
.textBefore {
    height: 35%;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    font-size: 9vw;
    letter-spacing: 1px;
}

.icon {
    height: 25%;
    width: 100%;
    text-align: center;
}

.icon img {
    width: 80%;
    height: 80%;
}

.textAfter {
    height: 40%;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 4.5vw;
}

.boldText {
font-family: 'Fira Sans Bold';
    font-size: 5.5vw;
}

/* pagination dots */
.navi {
    height: 10%;
    width: 100%;
    position: relative;
    text-align: center;
    letter-spacing: 8px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: darkgrey;
    border-radius: 50%;
    display: inline-block;
    opacity: 1.0;
}

#firstDot {
    background-color: white;
    opacity: 0.9;
}

.button {
    background-color: #FFBB02;
    border: none;
    color: black;
    padding: 10px;
    width: 60%;
    opacity: 0.9;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Fira Sans Bold';
    font-size: 5vw;
    border-radius: 12px;
}

.connSuccess {
    height: 100%;
    width: 100%;
    font-size: 7vw;
    text-align: center;
    font-family: 'Fira Sans Bold';
    display: none;
}

.show {
    height: 100%;
    width: 100%;
    font-size: 7vw;
    text-align: center;
    font-family: 'Fira Sans Bold';
}

.hideContent {
    display: none;
}

.succTop {
    height: 25%;
    width: 100%;
}

.succImg {
    height: 50%;
    width: 100%;
}

.succImg img {
    width: 60%;
    height: 60%;
}

.succBottom {
    height: 25%;
    width: 100%;
}

/*iPhone X*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .textBefore {
        padding-top: 50px;
    }
}

/*iPhone 6,7,8 Plus*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {
    .textAfter {
        padding-top: 10px;
    }
}

/*iPad*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .textBefore {
        padding-top: 50px;
        font-size: 6vw;
    }
    .textAfter {
        padding-top: 30px;
        text-align: center;
        font-size: 3vw;
    }
    .boldText {
        font-family: 'Fira Sans Bold';
        font-size: 4vw;
    }
    .button {
        font-size: 4vw;
    }
}

/*Progress spinning wheel*/
/* iOS Spinning Wheel white-large */

.isHidden {
    display: none;
}

.isShown {
    position: fixed;
    z-index: 1;
    left: 44.5%;
    top: 70%;
}

.ispinner {
    position: relative;
}

.ispinner .ispinner__blade {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 25%;
    border-radius: 50%/20%;
    animation: iSpinnerBlade 1s linear infinite;
    animation-play-state: paused; }
.ispinner .ispinner__blade:nth-child(1) {
    animation-delay: -1.6666666667s;
    transform: rotate(30deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(2) {
    animation-delay: -1.5833333333s;
    transform: rotate(60deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(3) {
    animation-delay: -1.5s;
    transform: rotate(90deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(4) {
    animation-delay: -1.4166666667s;
    transform: rotate(120deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(5) {
    animation-delay: -1.3333333333s;
    transform: rotate(150deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(6) {
    animation-delay: -1.25s;
    transform: rotate(180deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(7) {
    animation-delay: -1.1666666667s;
    transform: rotate(210deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(8) {
    animation-delay: -1.0833333333s;
    transform: rotate(240deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(9) {
    animation-delay: -1s;
    transform: rotate(270deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(10) {
    animation-delay: -0.9166666667s;
    transform: rotate(300deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(11) {
    animation-delay: -0.8333333333s;
    transform: rotate(330deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(12) {
    animation-delay: -0.75s;
    transform: rotate(360deg) translate(0, -150%); }
.ispinner.ispinner--animating .ispinner__blade {
    animation-play-state: running; }
.ispinner.ispinner--white .ispinner__blade {
    background-color: white; }
.ispinner.ispinner--gray .ispinner__blade {
    background-color: #8c8c8c; }
.ispinner.ispinner--large {
    width: 35px;
    height: 35px; }
.ispinner.ispinner--large .ispinner__blade {
    width: 8.5714285714%;
    height: 25.7142857143%;
    border-radius: 50%/16.67%; }

@keyframes iSpinnerBlade {
    0% {
        opacity: 0.85; }
    50% {
        opacity: 0.25; }
    100% {
        opacity: 0.25; } }


