html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}


@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}

.chair {
    height: 100%;
    width: 85%;
    margin: auto;
    background: url(chair.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    .chair {
        height: 90%;
        width: 70%;
    }
}

/* iPad 10,5 inches*/
@media (min-height: 750px) {
    .chair {
        height: 90%;
        width: 65%;
    }
}

#circleTop {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -28px;
    background-color: rgba(255,255,255,0.3);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    opacity: 0.4;
}

#circleMid {
    position: fixed;
    top: 27%;
    left: 50%;
    margin-left: -28px;
    background-color: rgba(255,255,255,0.3);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    opacity: 0.4;
}

#circleBot {
    position: fixed;
    top: 44%;
    left: 50%;
    margin-left: -28px;
    background-color: rgba(255,255,255,0.3);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    opacity: 0.4;
}

/* iPhone X / XS */
@media (min-height: 420px) {
    #circleTop {
        top: 13%;
    }
    #circleMid {
        top: 30%;
    }
    #circleBot {
        top: 47%;
    }
}

/* iPhone XR / XS Max */
@media (min-height: 500px) {
    #circleTop {
        top: 18%;
    }
    #circleMid {
        top: 32%;
    }
    #circleBot {
        top: 46%;
    }
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    #circleTop {
        top: 12%;
        transform: scale(1.8, 1.8);
    }
    #circleMid {
        top: 28%;
        transform: scale(1.8, 1.8);
    }
    #circleBot {
        top: 44%;
        transform: scale(1.8, 1.8);
    }
}

/* iPad 10,5 inches*/
@media (min-height: 750px) {
    #circleTop {
        top: 14%;
    }
    #circleMid {
        top: 28%;
    }
    #circleBot {
        top: 42%;
    }
}

/* iPad 11 inches*/
@media (min-height: 830px) {
    #circleTop {
        top: 16%;
    }
    #circleMid {
        top: 30%;
    }
    #circleBot {
        top: 44%;
    }
}

/* iPad 12,9 inches*/
@media (min-height: 990px) {
    #circleTop {
        transform: scale(2.2, 2.2);
    }
    #circleMid {
        transform: scale(2.2, 2.2);
    }
    #circleBot {
        transform: scale(2.2, 2.2);
    }
}


#outerTop {
    position: relative;
    top: 50%;
    left: 50%;;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    margin: -14px 0px 0px -14px;
}

#coreTop {
    position: relative;
    top: 9px;
    left: 9px;;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
}

#outerMid {
    position: relative;
    top: 50%;
    left: 50%;;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    margin: -14px 0px 0px -14px;
}

#coreMid {
    position: relative;
    top: 9px;
    left: 9px;;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
}

#outerBot {
    position: relative;
    top: 50%;
    left: 50%;;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    margin: -14px 0px 0px -14px;
}

#coreBot {
    position: relative;
    top: 9px;
    left: 9px;;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
}

@keyframes rippleOne {
    0% {
        box-shadow: 0 0 0 0 rgba(255,187,2, 0.8),
        0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 15px rgba(255,187,2, 0.6),
        0 0 0 25px rgba(255,187,2, 0.4);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 15px rgba(255,187,2, 0.6),
        0 0 0 25px rgba(255,187,2, 0.4),
        0 0 0 40px rgba(255,187,2, 0);
    }
}

@keyframes rippleTwo {
    0% {
        box-shadow: 0 0 0 0 rgba(255,187,2, 0.8),
        0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 18px rgba(255,187,2, 0.6),
        0 0 0 30px rgba(255,187,2, 0.4);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 18px rgba(255,187,2, 0.6),
        0 0 0 30px rgba(255,187,2, 0.4),
        0 0 0 48px rgba(255,187,2, 0);
    }
}

@keyframes rippleThree {
    0% {
        box-shadow: 0 0 0 0 rgba(255,187,2, 0.8),
        0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 21px rgba(255,187,2, 0.6),
        0 0 0 35px rgba(255,187,2, 0.4);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 21px rgba(255,187,2, 0.6),
        0 0 0 35px rgba(255,187,2, 0.4),
        0 0 0 56px rgba(255,187,2, 0);
    }
}

@keyframes rippleFour {
    0% {
        box-shadow: 0 0 0 0 rgba(255,187,2, 0.8),
        0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 24px rgba(255,187,2, 0.6),
        0 0 0 40px rgba(255,187,2, 0.4);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(255,187,2, 0.8),
        0 0 0 24px rgba(255,187,2, 0.6),
        0 0 0 40px rgba(255,187,2, 0.4),
        0 0 0 64px rgba(255,187,2, 0);
    }
}


.textModus {
    position: fixed;
    top: 14%;
    right: 1%;
    font-size: 15px;
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    .textModus {
        top: 17%;
        right: 1%;
        font-size: 20px;
    }
}

.modus {
    height: 40%;
    width: 16%;
    position: fixed;
    top: 22%;
    right: 0;
    opacity: 0.3;
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    .modus {
        height: 45%;
        width: 10%;
    }
}

/* iPad 12,9 inches*/
@media (min-height: 990px) {
    .modus {
        height: 60%;
        width: 7%;
    }
}


.btnOne {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    text-align: center;
    padding: 18px;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}

.btnTwo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    padding: 18px;
    text-align: center;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}

.btnThree {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    text-align: center;
    padding: 18px;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}

.btnFour {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    font-size: 22px;
    padding: 18px;
    text-align: center;
    color: black;
    margin-bottom: 2px;
    pointer-events: none;
}
