html,body {
    height: 800%;
    min-height: 80%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
    background: orange;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}


@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}




