html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
}

.topBox {
    height: 27%;
    width: 100%;
}

.logoBox {
    height: 18%;
    width: 100%;
}

.logoBox img {
    width: 100%;
    height: 100%;
}

.centerBox {
    height: 30%;
    width: 100%;
}

.wheelBox {
    height: 10%;
    width: 100%;
}

.bottomBox {
    height: 15%;
    width: 100%;
}

/* iOS Spinning Wheel white-large */

.ispinner {
    position: relative;
    margin: 0 auto;
    width: 20px;
    height: 20px;
}
.ispinner .ispinner__blade {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 25%;
    border-radius: 50%/20%;
    animation: iSpinnerBlade 1s linear infinite;
    animation-play-state: paused; }
.ispinner .ispinner__blade:nth-child(1) {
    animation-delay: -1.6666666667s;
    transform: rotate(30deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(2) {
    animation-delay: -1.5833333333s;
    transform: rotate(60deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(3) {
    animation-delay: -1.5s;
    transform: rotate(90deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(4) {
    animation-delay: -1.4166666667s;
    transform: rotate(120deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(5) {
    animation-delay: -1.3333333333s;
    transform: rotate(150deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(6) {
    animation-delay: -1.25s;
    transform: rotate(180deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(7) {
    animation-delay: -1.1666666667s;
    transform: rotate(210deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(8) {
    animation-delay: -1.0833333333s;
    transform: rotate(240deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(9) {
    animation-delay: -1s;
    transform: rotate(270deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(10) {
    animation-delay: -0.9166666667s;
    transform: rotate(300deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(11) {
    animation-delay: -0.8333333333s;
    transform: rotate(330deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(12) {
    animation-delay: -0.75s;
    transform: rotate(360deg) translate(0, -150%); }
.ispinner.ispinner--animating .ispinner__blade {
    animation-play-state: running; }
.ispinner.ispinner--white .ispinner__blade {
    background-color: white; }
.ispinner.ispinner--gray .ispinner__blade {
    background-color: #8c8c8c; }
.ispinner.ispinner--large {
    width: 35px;
    height: 35px; }
.ispinner.ispinner--large .ispinner__blade {
    width: 8.5714285714%;
    height: 25.7142857143%;
    border-radius: 50%/16.67%; }

@keyframes iSpinnerBlade {
    0% {
        opacity: 0.85; }
    50% {
        opacity: 0.25; }
    100% {
        opacity: 0.25; } }

