html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}

@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}

.chair {
    height: 100%;
    width: 85%;
    margin: auto;
    background: url(chair.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    .chair {
        height: 90%;
        width: 70%;
    }
}

/* iPad 10,5 inches*/
@media (min-height: 750px) {
    .chair {
        height: 90%;
        width: 65%;
    }
}

#lightCone {
    position: fixed;
    top: 4%;
    left: 16%;
    width: 275px;
    height: 275px;
    background: url(cone.png);
    background-size: 275px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.0;
}

/* iPhone 8 Plus */
@media (min-height: 405px) {
    #lightCone {
        top: 5%;
        left: 14%;
        width: 325px;
        height: 325px;
        background-size: 325px;
    }
}

/* iPhone X / XS */
@media (min-height: 420px) {
    #lightCone {
        top: 7%;
        left: 10%;
    }
}

/* iPhone XR / XS Max */
@media (min-height: 500px) {
    #lightCone {
        top: 11%;
        left: 12%;
        width: 350px;
        height: 350px;
        background-size: 350px;
    }
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    #lightCone {
        top: 3%;
        left: 22%;
        width: 500px;
        height: 500px;
        background-size: 500px;
    }
}

/* iPad 10,5 inches*/
@media (min-height: 750px) {
    #lightCone {
        top: 5%;
        left: 25%;
    }
}

/* iPad 11 inches*/
@media (min-height: 830px) {
    #lightCone {
        top: 9%;
        left: 24%;
    }
}

/* iPad 12,9 inches*/
@media (min-height: 990px) {
    #lightCone {
        top: 5%;
        left: 19%;
        width: 700px;
        height: 700px;
        background-size: 700px;
    }
}
