html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}


@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}

.chair {
    height: 100%;
    width: 85%;
    margin: auto;
    background: url(chair.svg);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    .chair {
        height: 90%;
        width: 70%;
    }
}

/* iPad 10,5 inches*/
@media (min-height: 750px) {
    .chair {
        height: 90%;
        width: 65%;
    }
}

.backArea {
    position: fixed;
    top: 18%;
    left: 50%;
    margin-left: -55px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid grey;
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    .backArea {
        transform: scale(1.6, 1.6);
    }
    .sitArea {
        transform: scale(1.6, 1.6);
    }
}

.backCircleOne {
    position: relative;
    width: 84px;
    height: 84px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 1px solid grey;
}

.backCircleTwo {
    position: relative;
    width: 58px;
    height: 58px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 1px solid grey;
}

.backCircleThree {
    position: relative;
    width: 32px;
    height: 32px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 1px solid grey;
}


.sitArea {
    position: fixed;
    top: 53%;
    left: 50%;
    margin-left: -55px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid grey;
}

.sitCircleOne {
    position: relative;
    width: 84px;
    height: 84px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 1px solid grey;
}

.sitCircleTwo {
    position: relative;
    width: 58px;
    height: 58px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 1px solid grey;
}

.sitCircleThree {
    position: relative;
    width: 32px;
    height: 32px;
    top: 12px;
    left: 12px;
    border-radius: 50%;
    border: 1px solid grey;
}

.boost {
    position: fixed;
    top: 80%;
    left: 70%;
    border: 1px solid;
    border-radius: 8px;
    border-color: #FFBB02;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: white;
    opacity: 0.9
}

/* iPad 9,7 inches*/
@media (min-height: 650px) {
    .boost {
        top: 75%;
        left: 75%;
        transform: scale(1.3, 1.3);
    }
}
