html,body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Fira Sans Regular';
    color: white;
    opacity: 0.9;
}

@font-face
{
    font-family: 'Fira Sans Regular';
    src: local('FiraSans-Regular'),url('FiraSans-Regular.otf') format('opentype');
}


@font-face
{
    font-family: 'Fira Sans Bold';
    src: local('FiraSans-Bold'),url('FiraSans-Bold.otf') format('opentype');
}

.connSuccess {
    height: 100%;
    width: 100%;
    font-size: 7vw;
    text-align: center;
    font-family: 'Fira Sans Bold';
}

.succTop {
    height: 25%;
    width: 100%;
}

.succImg {
    height: 50%;
    width: 100%;
}

.succImg img {
    width: 60%;
    height: 60%;
}

.succBottom {
    height: 25%;
    width: 100%;
}
